.menuPerfilImg {
    margin-left: auto;
    margin-right: auto;
    background: url('../img/pessoa300px.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;    
}

#btnVoltar{
    background-color: blue;
}